<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://jplusplus.org" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/JPP_Logo.png") }}" alt="Journalism ++">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		
		<div><a href="https://twitter.com/annelisebouyer" target="_blank">Anne-Lise Bouyer</a> et <a href="https://twitter.com/nicolaskb" target="_blank">Nicolas Kayser-Bril</a>.</div>
		<div><span class="mentions">CC-BY-SA <a href="http://berlin.jplusplus.org/" target="_blank">Journalism++ SAS</a>.</span></div> 
		
	</div>
	<div class="row github">
		<img src="{{url_for("static", filename="logos/github.png")}}"/> <a href="https://github.com/jplusplus/woman-tax" target="_blank">Give us feedback and grab the code !</a>
	</div>

</footer>
