<div class="header navbar navbar-default navbar-fixed-top reverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#start"><img src="{{ url_for("static", filename="logos/jpp.png") }}"/><span class="article_title hidden">Le calcul de la Woman tax</span></a>
		</div>
		<div class="collapse navbar-collapse">
			<div class="bookmark">
				<ul class="nav navbar-nav chapters">
					<li class="active"><a href="#start">Intro</a></li>
					<li><a href="#données">Ce qu'ont révélé les données</a></li>
					<li><a href="#ancrages">Ancrages</a></li>
					<li><a href="#expertise">Une question d'expertise</a></li>
					<li><a href="#masculinité">Le coût de la masculinité</a></li>
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="{{ "active" if g.get('language', 'en') == "en" }}"><a href="{{ url_for("index") }}">Français</a></li>
				<li class="{{ "active" if g.get('language', 'en') == "fr" }}"><a href="{{ url_for("page_en") }}">English</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
